<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">RT Scraper</a>
  <button id="scrapeArticles" class="btn btn-primary">Scrape Articles</button>
  <button id="clearArticles" class="btn btn-primary">Clear Articles</button>
  <a href="/saved" class="ml-auto">
    <button id="saved" class="ml-auto btn btn-secondary rounded">Saved Articles</button>
  </a>
</nav>
